body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
    .fixed-top {
        top:40px;
    }
    .fixed-top-header-strip {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        width:100%;
        background-color: #acc234;
    }
    .header {
        margin-top:100px;
    }
  }
  .carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .portfolio-item {
    margin-bottom: 30px;
  }
  .primaryButton{
    border-radius: 0px;
    background-color: #c54712;
    color: #fff;
    border: 0px;
    padding: 0.6em 1.5em;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  .primaryButton:hover, .primaryButton:focus{
    background-color: #ab3d0f;
    color:#fff;
  }
  .carouselOption {
    text-align: left;
  }
  .carouselOption h3 {
    color: #ff5912;
    font-size:30px;
  }
  .carouselOption h4 {
    color: #34404b;
    font-size:24px;
  }
  .carouselOption p {
    color: #47526B;
    font-size:20px;
  }
  footer{
      min-height:240px;
  }
  .list-styled {
    padding-left: 15px;
  }
  .loadAllNewArrivals {
      display: flex;
      align-items: center;
      place-content: center;
      margin:40px auto;
      color:#34404b;
      background-color: #feffff;
      min-height: 63px;
      cursor: pointer;
  }
  .newArrivalsCntr .card, .bestSalesCntr .card, .userReviews .card {
    border-radius: 0px;
    cursor: pointer;
  }
  .newArrivalOptioncntr {
      min-height:50px;
  }
  .newsletter {
    background: #feffff;
    padding: 40px 20px;
    display: flex;
    place-content: center;
    align-items: center;
    margin: 10px 2px 40px;
  }

  .newsletter p {
      font-size: 1rem;
  }

  .newsletter p span {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff5912;
    margin-right:10px;
    text-transform: uppercase;
  }

  .newsletter button {
      text-transform: uppercase;
      font-size:1.2rem;
  }

  .newsletterInputcontrol {
      width:auto;
      margin-right:50px;
      float:right;
  }
  .notifyDiv {
    margin: 25px auto;
  }
  .newsletterInputcontrol input.newsletterInput {
    border:0px;
    box-shadow: none;
    background-image: url('../img/email.png');
    background-repeat:no-repeat;
    background-position: 0px 10px;
    padding-left: 25px;
    line-height: 27px;
  }

  .newsletterInputcontrol > .newsletterInput:focus {
      outline: 0 !important;
  }
  
  .newsletterFormcontrol {
      display: flex;
      align-items: center;
      place-content: flex-end;
  }

  .userReviewContentBox, .newArrivalsContentBox {
      /* display: flex;
      align-content: center;
      place-content: flex-start; */
      margin: 10px auto 20px; 
  }
  .userReviews .card-text {
      text-decoration: underline;
      cursor: pointer;
  }
  .userReviewtxt {
        align-items: center;
        display: flex;
        place-content: flex-start;
  }
  .userReviewsHeaderContent {
      display: flex;
      align-items: center;
      padding:40px 20px;
  }
  .userReviewsHeaderContent > .col-12 {
    margin-bottom: 1.5rem;
  }
  .userReviewHdrTxt {
      font-size: 1.9rem;
  }
  .userReviewDfltTxt {
    font-size: 1.5rem;
  }
  .addtoCart {
    background: transparent url(../img/cart.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    text-align: right;
    display: block;
    float: right;
    color:#ff5912 !important;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 10px;
  }
  .newArrivalTxt .addtoCart {
      width:25px;
      height:20px;
      padding: 0px;
      margin-left: -20px;
      margin-top: 30px;
  }
  .newArrivalTxt .addtoFavorites {
    width:25px;
    height:20px;
    padding: 0px;
    margin-right: -20px;
    background: transparent url(../img/whishlist.png);
    background-repeat: no-repeat;
    margin-top: 30px;
}
  .newArrivalTxt h3 {
    margin-top: 10%;
    text-align: center;
  }
  .bestSalestxt h3 {
      margin-top: 10%;
  }
  .bestSalestxt .ratingCntr {
    background: transparent url('../img/ratingImg.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 95px;
    height: 30px;
  }
  .ratingIcons i {
    font-size: 18px;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    color:#34404b;
  }
  .ratingIcons i.active, .ratingIcons i:hover {
    color: #ff5912;
  }
  .headerListItems {
      list-style: none;
      padding:0px;
      margin:0px;
  }
  .headerListItems li {
      display: inline-block;
      width:45px;
      height:40px;
  }
  .headerListItems li a, .headerListItems li a i {
      text-decoration: none;
      float: left;
      color:#feffff !important;
      font-size: 30px;
      padding-top: 2px;
  }
  .headerListItems li a:hover {
      text-decoration: none;
      color: #34404b !important;
      -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        
  }

  @media (min-width: 320px) and (max-width: 667px) {
    .userReviewContentBox img, .newArrivalsContentBox img{
        margin-bottom: 15px;
    }
    .userReviewtxt, .newArrivalTxt {
        text-align:center;
    }
    .newsletter p {
        text-align:center;
    }
    .newsletter p span {
        display: block;
    }
    .newsletterFormcontrol {
        display: flex;
        align-items: start;
        place-content: space-between;
        flex-direction: column;
    }
    .newsletterInputcontrol input.newsletterInput {
        margin-bottom: 25px;
    }
    .header {
        margin-top:-10px;
    }
  } 

  @-webkit-keyframes swing
    {
        15%
        {
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
        }
        30%
        {
            -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
        } 
        50%
        {
            -webkit-transform: translateX(3px);
            transform: translateX(3px);
        }
        65%
        {
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }
        80%
        {
            -webkit-transform: translateX(2px);
            transform: translateX(2px);
        }
        100%
        {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @keyframes swing
    {
        15%
        {
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
        }
        30%
        {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }
        50%
        {
            -webkit-transform: translateX(3px);
            transform: translateX(3px);
        }
        65%
        {
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }
        80%
        {
            -webkit-transform: translateX(2px);
            transform: translateX(2px);
        }
        100%
        {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }